@import '../variables.scss';

.basic-search {
  margin-top: 40px;

  .type {
    display: inline-block;

    button {
      border: 0 none;
      background-color: #ffffff;
      color: $font-color;
      font-size: $subheader-font-size;
      cursor: pointer;
      padding: 0;
      padding-right: 40px;

      &.active,
      &:hover {
        color: $primary-color;
        text-decoration: underline;
      }
    }
  }

  .location {
    padding-top: 20px;

    .MuiFormLabel-root {
      top: 13px;
    }

    .MuiFormControl-root {
      width: 80%;

      .MuiInputBase-root {
        height: 54px;
      }
    }
  }
}
