@import '../../variables.scss';

.user-profile {
  height: 100vh;

  table {
    @include card;
    padding: 50px;
    @media screen and (max-width: $breakpoint-small) {
      padding: 15px;
    }

    td, th {
      padding: 5px;
    }
  }
}
