@import '../../variables.scss';

.manage-vp {
  height: 100vh;
  position: relative;

  ul.manage-menu {
    margin-bottom: 15px;

    li {
      display: inline-block;
      list-style: none;

      &:first-child {
        margin-right: 35px;
      }

      a {
        text-decoration: none;
        color: $font-color;
        font-size: $button-font-size;

        &.active {
          font-weight: bold;
        }
      }
    }
  }
}

.add-new {
  position: absolute;
  top: 0;
  right: 0;
}
