@import '../../variables.scss';

.performer-card, .venue-card {
  @include card;
  height: 188px;
  list-style: none;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 25px !important;
  @media screen and (max-width: $breakpoint-small) {
    height: 137px;
  }

  .address {
    @include ellipsis;
    width: 100%;
  }

  .info {
    padding-left: 10px;
    box-sizing: border-box;
    @media screen and (max-width: $breakpoint-small) {
      width: calc(70% - 15px);
    }

    svg {
      vertical-align: bottom;
    }
  }

  h3 {
    @include ellipsis;
    width: 85%;
  }

  .title {
    margin-bottom: 10px !important;
  }

  .image-link {
    @media screen and (max-width: $breakpoint-small) {
      width: 30%;
    }

    svg {
      width: 80px !important;
      font-size: 80px;
    }
  }

  svg {
    padding-right: 10px;

    path {
      color: $primary-color;
    }
  }

  .edit {
    position: absolute;
    top: 15px;
    right: 15px;
    color: $font-color;
    font-size: $h5-font-size;
    text-decoration: none;
  }
}

.venue-card {
  @media screen and (max-width: $breakpoint-small) {
    height: 150px;
  }
}
