@import '../../variables.scss';

.performer-card, .venue-card {
  @include card;
  height: 165px;
  list-style: none;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 25px !important;

  .info {
    padding-left: 10px;
    box-sizing: border-box;

    svg {
      vertical-align: bottom;
    }
  }

  .title {
    margin-bottom: 10px !important;
  }

  .image-link {
    svg {
      width: 80px !important;
      font-size: 80px;
    }
  }

  svg {
    padding-right: 10px;

    path {
      color: $primary-color;
    }
  }

  .edit {
    position: absolute;
    top: 15px;
    right: 15px;
    color: $font-color;
    font-size: $h5-font-size;
    text-decoration: none;
  }
}
