@import '../variables.scss';

.performer, .venue {
  @media screen and (max-width: $breakpoint-small) {
    display: flex;
    flex-direction: column;

    .left-side {
      order: 2;
      display: block;
    }

    .right-side {
      order: 1;
      display: block;
    }
  }

  .meta {
    background-color: $secondary-background-color;
    padding: 20px;

    div {
      line-height: 2;
      font-size: 14px;
    }

    .genres-list, .properties-list {
      overflow: auto;
      li {
        float: left;
        margin-right: 22px;

        &:first-child {
          list-style-type: none;
        }
      }
    }
  }

  .videos {
    > div {
      position: relative;
      padding-bottom: 28%;
      @media screen and (max-width: $breakpoint-small) {
        padding-bottom: 56%;
      }
    }

    iframe {
      border: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .booking-form {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $primary-color;
  }
}
