@import '../variables.scss';

.front-page {
  .top-container {
    @include flex;

    > div {
      width: 100%;
    }
  }

  .promo-list {
    margin-top: 50px;

    h1 {
      text-align: center;
    }

    .promo-items {
      @include flex;
      max-width: 80%;
      margin: 0 auto;

      .promo-item {
        padding-left: 10px;
        padding-right: 10px;

        p {
          font-size: $button-font-size;
          color: $font-color;
          font-weight: 700;
        }

        img {
          width: 100%;
        }

        .rating {
          color: $highlight-color;
          padding-top: 5px;
          padding-bottom: 10px;
        }
      }
    }
  }
}
