@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import './variables.scss';
@import './simple-grid.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: $header-font-size;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}

h2 {
  font-size: $header-font-size;
  font-weight: 700;
  color: $primary-color;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

h3 {
  font-size: $subheader-font-size;
  font-weight: bold;
}

h4 {
  font-size: $h4-font-size;
  font-weight: bold;
}

div,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1;
}

img {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"] {
  border: 2px solid $input-border-color;
  border-radius: 3px;
  height: 25px;
  width: 100%;
  padding: 20px;
  padding-left: 10px;
  font-size: 14px;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  color: $primary-color;
}

.clear-both {
  clear: both;
}

.with-background {
  background: $background-color;
}

.form-group {
  padding-bottom: 15px;
}

.type .active {
  color: red;
  font-weight: bold;
}

.ruler {
  border-bottom: 1px solid $background-color;
  margin-top: 20px;
}

.bookings .list {
  display: none;
}

.bookings .list.active {
  display: block;
}

.upcoming-bookings .accepted,
.upcoming-bookings .accepted a {
  background-color: green;
  color: white;
}

.upcoming-bookings .canceled,
.upcoming-bookings .canceled a {
  background-color: red;
  color: white;
}

.main {
  width: 100%;
}

.container {
  background-color: #fff;
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.full-header {
  @include flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

.simple-header {
  position: absolute;
  z-index: 999;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 50px;
  margin-top: 25px;
}

.logo img {
  width: 65px;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  list-style: none;
}

.footer {
  height: 60px;
}

.rating {
  padding-bottom: 8px;

  .star {
    color: $highlight-color;
    padding-top: 5px;
  }
}
