.type .active {
  color: red;
  font-weight: bold;
}

.promo-list {
  display: inline-block;
  width: 50%;
}

.promo-item {
  display: inline-block;
  width: 100px;
}

.result-item {
  display: inline-block;
  width: 100px;
}

.bookings ul {
  display: none;
}

.bookings ul.active {
  display: block;
}

.upcoming-bookings .accepted,
.upcoming-bookings .accepted a {
  background-color: green;
  color: white;
}

.upcoming-bookings .canceled,
.upcoming-bookings .canceled a {
  background-color: red;
  color: white;
}
