$font-family: 'Lato', sans-serif;
$font-color: #4e4d58;

$primary-color: #5e53d4;
$secondary-color: #ffffff;
$highlight-color: #eabb17;

$header-font-size: 32px;
$subheader-font-size: 18px;
$button-font-size: 16px;

@mixin flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
